:root {
  --clr-background: #253330;
  --clr-principal: #549183;
  --clr-sencund: #ffffff;
  --clr-bck-popup: #32685c;
  --clr-vermelho: #ff0303;
  --clr-vermelho-marcacao: #ff8181;
  --clr-amarelho-dia: #fdc200;
  --clr-amarelho-anotacao: #fdba3e;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--clr-sencund);
  font-family: "Inter" !important;
}

html {
  height: 100%;
  background-color: var(--clr-background);
  padding: 20px 42px;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

input {
  padding: 5px 0 5px 5px;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  cursor: text;
}

input:focus {
  outline: none;
}

svg {
  fill: #fff;
}

button {
  background-color: var(--clr-principal);
  color: var(--clr-sencund);
  font-size: 24px;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
}

.content {
  width: 90%;
  max-width: 1920px;
  place-self: center;
  place-items: center;
}

.disable {
  cursor: not-allowed !important;
}

label {
  cursor: pointer;
}

#cabecalho {
  width: 100%;
  align-items: center;
}

#monthYear {
  cursor: pointer;
}

#cabecalho,
.calculadas {
  display: flex;
  justify-content: space-between;
}

.calculadas span {
  font-size: 25px;
}

#resumo_mes {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: block;
  position: absolute;
  background: var(--clr-bck-popup);
  padding: 10px 30px;
  width: 245px;
  top: 6%;
  left: 8%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.year-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#monthsList {
  margin-top: 15px;
  font-size: 24px;
}

.month-option {
  margin-top: 7px;
  cursor: pointer;
}

.month-option::after {
  content: "";
  display: flex;
  width: 100%;
  height: 1px;
  background: #ffffff40;
  margin-top: 7px;
}

.btn {
  background-color: var(--main-color);
  color: white;
  border: 3px solid #00000057;
  box-shadow: 0 4px 4px #00000029;
  cursor: pointer;
}

#resumo_mes {
  gap: 80px;
  margin-left: -120px;
}

#background-loader {
  display: none;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  z-index: 10005;
}

.loader {
  top: 50%;
  left: 50%;
  position: absolute;
  border: 10px solid #ffffff;
  border-radius: 50%;
  border-top: 10px solid aquamarine;
  width: 50px;
  height: 50px;
  z-index: 10005;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mes_nav {
  display: flex;
  align-items: center;
  width: 351px;
  justify-content: space-between;
}

#horas_trabalho,
#horas_saldo {
  text-align: center;
}

.calculadas {
  gap: 50px;
}

#dia_coluna th {
  width: 14.3%;
  padding: 7px;
}

#dias_calendario {
  width: 100%;
  height: 70%;
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin-top: 14px;
}

.dia_card {
  padding: 11px 11px 11px 15px;
  display: flex;
  width: 100%;
  height: 130px;
  background-color: var(--clr-principal);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.prev-month h1,
.prev-month .pontos_batidos span,
.next-month h1,
.next-month .pontos_batidos span {
  color: #b5b5b5 !important;
}

.acoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}

.acoes h1 {
  margin-top: -5px;
  font-size: 40px;
}

.btn_circular {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-principal);
  border-radius: 50px;
  margin-top: 2px;
  width: 30px;
  height: 30px;
}

.btn svg {
  width: 80%;
}

.btn_add_observacao {
  width: 23px;
  height: 23px;
  fill: var(--clr-sencund);
  cursor: pointer;
  margin-left: 2px;
}

.pontos_batidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pontos_batidos::-webkit-scrollbar {
  width: 9px;
}

.pontos_batidos::-webkit-scrollbar-track {
  background: var(--clr-background);
  border-radius: 5px;
}

.pontos_batidos::-webkit-scrollbar-thumb {
  background-color: var(--clr-principal);
  border-radius: 20px;
  border: 2px solid var(--clr-bck-popup);
}

.pontos_batidos div {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.pontos_batidos .observacao span {
  color: #fdba3e;
}

.dia_selecionado {
  outline: 2px solid var(--clr-vermelho) !important;
}

.dia_atual {
  outline: 2px solid var(--clr-amarelho-dia);
}

#popup_dia {
  display: none;
  position: absolute;
}

.popup_dia {
  background-color: var(--clr-bck-popup);
  border-radius: 5px;
  padding: 10px;
}

.popup_dia .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.popup_dia .content div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup_dia .content table {
  width: 100%;
  border-collapse: collapse;
}

.popup_dia .content table td {
  border: 1px solid #000;
  padding: 5px;
}

.afastamento span {
  color: #ff8181;
}

.overlay {
  display: block;
  background-color: #0000006b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10005;
}

.popup {
  display: block;
  min-height: 668px;
  max-height: 762px;
  width: 515px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-principal);
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tabs {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-principal);
  border-bottom: 1px solid #000;
  position: relative;
  z-index: 1;
}

.tabs div {
  display: flex;
}

.tabs svg {
  cursor: pointer;
  width: 20px;
  margin-right: 10px;
}

.tab {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: var(--clr-principal);
  color: var(--clr-sencund);
  border-right: 1px solid #000;
}

.tab.active {
  background-color: var(--clr-principal);
  border-bottom: 1px solid var(--clr-principal);
  position: relative;
  z-index: 2;
  margin-bottom: -2px;
}

.tab-content {
  display: none;
  padding: 36px 40px;
  height: 100%;
  background-color: var(--clr-principal);
  color: var(--clr-sencund);
}

.tab-content.active {
  display: block;
}

.tab-content .popup_dia {
  max-height: 275px;
  overflow-y: auto;
}
#inputs_horarios,
#acoes {
  display: flex;
  gap: 10px;
  align-items: end;
}

#inputs_horarios .btn {
  position: relative;
  top: 7px;
  left: 20px;
}

hr {
  width: 100%;
  border: 1px solid;
  margin: 25px 0 20px 0;
}

input[type="date"] {
  width: 114px;
}

#txt-hora {
  width: 58px;
}

#registros {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
}

#registros #acoes {
  margin-right: 77px;
  padding-bottom: 5px;
}

#btn-fechar-editar {
  display: none;
}

.btn-medio {
  width: 43px !important;
  height: 43px !important;
}

.btn-grande {
  font-size: 60px !important;
  width: 56px !important;
  height: 56px !important;
}

.btn-grande svg,
.btn-medio svg {
  width: 70%;
}

#interval_sign {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.hora-ponto {
  width: 57px;
  font-size: 18px !important;
  text-align: right;
  padding: 0px 3px !important;
}

.hora-ponto-block {
  background: transparent;
  border: 1px solid transparent !important;
  color: #fff !important;
}

.btn-quadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding: 2px;
  border-radius: 5px !important;
}

.btn-quadrado svg {
  width: 80%;
}

.registro_ponto {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 4px;
}

.evento_hora {
  display: flex;
  align-items: center;
  gap: 16px;
}

#pontos_batidos_popup {
  width: 258px;
  max-height: 156px;
  overflow-y: auto;
}

#observacao h2 {
  text-decoration: underline;
}

#observacoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-height: 334px;
  overflow-y: auto;
}

.observacao_item {
  display: grid;
  grid-template-areas:
    "dados acoes"
    "div div";
  width: 100%;
  gap: 10px;
}

.dados {
  grid-area: dados;
}

#observacoes .acoes {
  grid-area: acoes;
  justify-self: self-end;
  justify-content: center;
  flex-direction: row;
  width: auto;
  gap: 5px;
}

.observacao_item::after {
  content: "";
  display: flex;
  width: 100%;
  height: 1px;
  background: #ffffffa4;
  margin-top: 7px;
  grid-area: div;
}

.form-container {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 320px;
  color: white;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.header-acao {
  width: 100%;
  text-align: end;
}

.header-acao svg {
  width: 25px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}

.data-section {
  display: flex;
  flex-direction: column;
}

.data-section label {
  font-size: 18px;
  margin-right: 10px;
}

.data-section input[type="text"] {
  width: 90px;
}

.abono-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.abono-section input[type="checkbox"] {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="time"],
input[type="password"],
textarea {
  border: 1px solid #00000029;
  color: #5e5e5e;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
}

.time-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.time-row label {
  font-size: 16px;
}

.time-display {
  margin-left: auto;
  margin-right: 15px;
  font-size: 16px;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
}

.option-section {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  gap: 15px;
}

.option-group {
  display: flex;
  align-items: center;
}

.option-group input[type="radio"] {
  margin-right: 5px;
}

.time-range {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.time-range input[type="time"] {
  width: 85px;
}

.time-range span {
  margin: 0 10px;
}

.hide-when-carga-horaria {
  transition: opacity 0.3s;
}

.observation-section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.observation-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: var(--border-radius);
  padding: 10px;
  border: none;
  resize: none;
}

button {
  float: right;
}

#confirmar,
form button {
  border: none;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

#confirmar:hover {
  background-color: var(--button-hover);
}

.form-obs {
  width: 311px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px 44px;
  background-color: var(--clr-principal);
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overlay-form-obs {
  display: none;
  background-color: #0000006b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10006;
}

.content-config {
  display: flex;
  justify-content: space-between;
  height: 472px;
  width: 1334px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-principal);
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campos {
  display: flex;
  align-items: end;
  gap: 10px;
}

.div-line {
  color: #ffffff3b;
  border: 1px solid;
  margin: 0 40px;
}

.content-config button {
  width: 130px;
}

.ferias-marcadas {
  display: flex;
  width: 350px;
  align-items: center;
}

.ferias-marcadas .acoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ferias-marcadas-lista {
  height: 69%;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-background);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-principal);
  border-radius: 20px;
  border: 2px solid var(--clr-bck-popup);
}

.nav-config {
  position: absolute;
  left: 50px;
}

.nav-config h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-config svg {
  width: 16px;
}

.campos .btn_circular {
  margin-bottom: 3px;
}

.campos .hifen {
  margin-bottom: 5px;
}

.content-login {
  width: 330px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-principal);
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
}
.content-login h1 {
  text-align: center;
}
.content-login input {
  width: 100%;
}
.content-login a {
  font-size: 14px;
  text-decoration: underline;
}

@media (max-width: 1920px) {
  html {
    padding-right: 0;
    padding-left: 0;
  }

  .content {
    width: 90%;
  }

  #cabecalho h1 {
    font-size: 26px;
  }
  #cabecalho span {
    font-size: 20px;
  }

  .acoes h1 {
    margin-top: -5px;
    font-size: 30px;
  }

  .dia_card {
    height: 115px;
  }
}

@media (max-width: 1633px) {
  html {
    padding-right: 0;
    padding-left: 0;
  }
  #cabecalho h1 {
    font-size: 22px;
  }
  #cabecalho span {
    font-size: 18px;
  }

  #cabecalho a {
    font-size: 12px;
  }

  #mes_nav {
    width: 250px;
  }

  #dia_coluna h1 {
    font-size: 24px;
  }

  .dia_card .acoes .btn_circular {
    width: 25px;
    height: 25px;
  }

  .dia_card {
    height: 105px;
  }

  .pontos_batidos {
    font-size: 15px;
  }
}

@media (max-width: 1366px) {
  html {
    padding-right: 0;
    padding-left: 0;
  }

  #cabecalho h1 {
    font-size: 18px;
  }
  #cabecalho span {
    font-size: 14px;
  }

  #cabecalho a {
    font-size: 12px;
  }

  #mes_nav {
    width: 250px;
  }

  #mes_nav button {
    font-size: 15px;
  }

  #dia_coluna h1 {
    font-size: 24px;
  }

  .dia_card {
    height: 80px;
  }

  .acoes h1 {
    margin-top: -3px;
    font-size: 22px;
  }

  .dia_card .acoes .btn_circular {
    margin-top: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  .btn_circular span {
    margin-top: -3px;
  }

  .btn_add_observacao {
    width: 16px;
    height: 16px;
    margin-left: 2px;
  }

  .pontos_batidos {
    font-size: 11px;
  }
}
